# configurações
# -----------------------------------------------------------------------------
[glb]

# canal de comunicação
canal = 4

# serial
# -----------------------------------------------------------------------------
[ser]

# porta serial
port = /dev/ttyACM0

# velocidade
baud = 115000

# diretórios
# -----------------------------------------------------------------------------
[dir]

# imagens
img = images

# tabelas
tab = tabs

# rede
# -----------------------------------------------------------------------------
[net]

# endereço de cliente
# cli = 192.168.11.101  # 192.168.12.1
cli = 192.168.12.1

# endereço de servidor
# srv = 192.168.11.101  # 192.168.12.5
srv = 192.168.12.5

# porta de cnfg/cmd/ctrl
ccc = 1923

# porta de imagens
img = 1970

# porta de sensores
img = 1961

# temporização
# -----------------------------------------------------------------------------
[tim]

# tratador de eventos (10Hz)
evnt = .1

# screen refresh time (10Hz)
rfsh = .1

# tempo de espera de eventos (1/2seg)
wait = .5

# < the end >------------------------------------------------------------------
